@tailwind base;
@tailwind components;
@tailwind utilities;
@import "slick-carousel/slick/slick.css"; 
@import "slick-carousel/slick/slick-theme.css";

:root {
  --foreground-rgb: 0, 0, 0; 
  --background-start-rgb: 214, 219, 220; 
  --background-end-rgb: 255, 255, 255; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0; 
    --background-start-rgb: 214, 219, 220; 
    --background-end-rgb: 255, 255, 255; 
  }
}

body {
  color: rgb(var(--foreground-rgb)); /* Use the foreground variable */
  background-color: rgb(var(--background-rgb)); /* Pure white background */
  padding: 1rem;
}

html {
  scroll-behavior: smooth;
}
